﻿@page
@model WebRTC.Pages.ContactModel
@{
}
@*<div class="row" style="height:15%;width:100%;">
    <div class="col-sm-12">
        <img class="logo" src="~/img/logowhite.png" style="width:176px;height:89px;display:block;margin-left:auto;margin-right:auto" />
    </div>
</div>*@
<div class="row" style="height:100px;width:100%;position:relative;background-image:red!important;">
    <div id="logImg1" style="cursor:pointer">
    </div>
</div>
<div class="row text-center" style="height:10%;padding-top:50px;">
    <p class="content">Our Contact <span id="openMenu" class="fa fa-arrow-right text-white d-inline-block" style="font-size:large!important;position:relative;top:3px;"></span></p>
</div>
<div class="row text-center" style="padding-top:50px;min-height:60%">
    <div style="width:400px;height:100%;display:inline-block;margin-left:auto;margin-right:auto;">
        <p class="content">
            Questions? Feedback? Get in touch with us at, <br /><br />
            contact@osociety.net
        </p>
    </div>
</div>
<br />
<div class="row text-center" style="width:100%;position:relative">
    <img src="~/img/Line 2.png" style="width:50%; height:5px!important;display:inline-block;margin-left:auto!important;margin-right:auto!important" />
</div>
<script>
    $("#logImg1").on('click', function (e) {
        window.location.href = "/";
    })
</script>
