﻿@page
@model WebRTC.Pages.PledgeModel
@{
}

@*<div class="row" style="height:15%;width:100%;">
    <div class="col-sm-12">
        <img class="logo" src="~/img/logowhite.png" style="width:176px;height:89px;display:block;margin-left:auto;margin-right:auto" />
    </div>
</div>*@
<div class="row" style="height:100px;width:100%;position:relative;background-image:red!important;">
    <div id="logImg1" style="cursor:pointer">
    </div>
</div>
<div class="row text-center" style="height:10%;padding-top:50px;">
    <p class="content d-inline-block">Our Pledge <span id="openMenu" class="fa fa-arrow-right text-white d-inline-block" style="font-size:large!important;position:relative;top:3px;"></span></p>
</div>
<div class="row text-center" style="padding-top:50px;min-height:60%">
    <div style="width:400px;height:100%;display:inline-block;margin-left:auto;margin-right:auto;">
        <p class="content">•	Keep It Private: No snooping, no recording. What happens on the platform, stays on the platform.</p>
        <p class="content">•	Big Hugs, No Bugs: This is your safe haven. No creepy crawlies like harassment or bullying allowed.</p>
        <p class="content">•	Hate Not Welcome: We're a rainbow of backgrounds and beliefs.Let's keep it that way by leaving discrimination and hate speech out of our chats.</p>
        <p class="content">•	Superhero Reporting: See something amiss? Be a superhero and report it! Our trusty moderators will swoop in to save the day.</p>
    </div>
</div>
<br />
<div class="row text-center" style="width:100%;position:relative">
    <img src="~/img/Line 2.png" style="width:50%; height:5px!important;display:inline-block;margin-left:auto!important;margin-right:auto!important" />
</div>
<script>
    $("#logImg1").on('click', function (e) {
        window.location.href = "/";
    })
</script>