﻿@page
@model WebRTC.Pages.SocietyModel
@{
}
<div class="row" style="height:15%;width:100%;">
    <div class="col-sm-12">
        <img class="logo" src="~/img/logowhite.png" style="width:176px;height:89px;display:block;margin-left:auto;margin-right:auto" />
    </div>
</div>
<div class="row text-center" style="height:10%;padding-top:50px;">
    <p class="content">Our Society </p>
</div>
<div class="row text-center" style="padding-top:50px;min-height:60%">
    <div style="width:400px;height:100%;display:inline-block;margin-left:auto;margin-right:auto;">
        <p class="content">The idea was sparked by an imaginary scenario of two strangers engaging fervently in conversation in a taxi or metro, only to part ways afterward. These strangers spoke without judgements or worries. </p>
        <p class="content">All of us need someone who listens without any strings attached. In 2019, we decided to bring this idea to life in its current form, though the project was postponed.</p>
        <p class="content">Who are we? We are a collective endeavoring to introduce even the slightest change or addition to the realm of storytelling, not dating. Humans are creatures distinguished by their narrative abilities.</p>
        <p class="content">Our aim is for our service to serve as an unconventional platform for imagination. Guided by the belief in serendipity, we've opted for randomness in our conversations. </p>
    </div>
</div>
<br />
<div class="row text-center" style="width:100%;position:relative">
    <img src="~/img/Line 2.png" style="width:50%; height:5px!important;display:inline-block;margin-left:auto!important;margin-right:auto!important" />
</div>
<script>
    $(".logo").on('click', function (e) {
        window.location.href = "/";
    })
</script>
