﻿/*@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(5deg);
    }

    70% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

body {
    font-size: 0.9rem;
}

.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}*/

/*----------------page-wrapper----------------*/

/*.page-wrapper {
    height: 100vh;
}

    .page-wrapper .theme {
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 4px;
        margin: 2px;
    }

        .page-wrapper .theme.chiller-theme {
            background: #1e2229;
        }*/

    /*----------------toggeled sidebar----------------*/

    /*.page-wrapper.toggled .sidebar-wrapper {
        right: 0px;
    }

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-right: 300px;
    }
}*/
/*----------------show sidebar button----------------*/
/*#show-sidebar {
    position: fixed;
    right: 80px;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 32px;
    transition-delay: 0.3s;
    background-color:transparent;
    border:none
}

.page-wrapper.toggled #show-sidebar {
    right: -80px;
}*/
/*----------------sidebar-wrapper----------------*/

/*.sidebar-wrapper {
    width: 260px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 999;
}

    .sidebar-wrapper ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidebar-wrapper a {
        text-decoration: none;
    }*/

/*----------------sidebar-content----------------*/

/*.sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
}

    .sidebar-content.desktop {
        overflow-y: hidden;
    }*/

/*--------------------sidebar-brand----------------------*/

/*.sidebar-wrapper .sidebar-brand {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

    .sidebar-wrapper .sidebar-brand > a {
        text-transform: uppercase;
        font-weight: bold;
        flex-grow: 1;
    }

    .sidebar-wrapper .sidebar-brand #close-sidebar {
        cursor: pointer;
        font-size: 20px;
    }*/


/*----------------------sidebar-menu-------------------------*/

/*.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}

    .sidebar-wrapper .sidebar-menu .header-menu span {
        font-weight: bold;
        font-size: 14px;
        padding: 15px 20px 5px 20px;
        display: inline-block;
    }

    .sidebar-wrapper .sidebar-menu ul li a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        position: relative;
        padding: 8px 30px 8px 20px;
    }

        .sidebar-wrapper .sidebar-menu ul li a i {
            margin-right: 10px;
            font-size: 12px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }

        .sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
            display: inline-block;
            animation: swing ease-in-out 0.5s 1 alternate;
        }

    .sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f105";
        font-style: normal;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        background: 0 0;
        position: absolute;
        right: 15px;
        top: 14px;
    }

    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
        padding: 5px 0;
    }

    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
        padding-left: 25px;
        font-size: 13px;
    }

        .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
            content: "\f111";
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            font-style: normal;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-right: 10px;
            font-size: 8px;
        }

    .sidebar-wrapper .sidebar-menu ul li a span.label,
    .sidebar-wrapper .sidebar-menu ul li a span.badge {
        float: right;
        margin-top: 8px;
        margin-left: 5px;
    }

    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
    .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
        float: right;
        margin-top: 0px;
    }

    .sidebar-wrapper .sidebar-menu .sidebar-submenu {
        display: none;
    }

    .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
        transform: rotate(90deg);
        right: 17px;
    }*/

/*--------------------------side-footer------------------------------*/

/*.sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
}

    .sidebar-footer > a {
        flex-grow: 1;
        text-align: center;
        height: 30px;
        line-height: 30px;
        position: relative;
    }

        .sidebar-footer > a .notification {
            position: absolute;
            top: 0;
        }

.badge-sonar {
    display: inline-block;
    background: #980303;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
}

    .badge-sonar:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid #980303;
        opacity: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        animation: sonar 1.5s infinite;
    }*/

/*--------------------------page-content-----------------------------*/

/*.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
    padding-top: 20px;
}

    .page-wrapper .page-content > div {
        padding: 20px 40px;
    }

.page-wrapper .page-content {
    overflow-x: hidden;
}*/

/*------scroll bar---------------------*/

/*::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #525965;
    }

    ::-webkit-scrollbar-thumb:active {
        background: #525965;
    }

::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

    ::-webkit-scrollbar-track:hover {
        background: transparent;
    }

    ::-webkit-scrollbar-track:active {
        background: transparent;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}*/

@media only screen and (max-width: 600px) {
/*    .sidebar-head {
        width: 50%!important;
        margin-left:50px!important
    }*/
    .ulDiv {
        width: 80% !important;
        height: 70%;
        padding-top: 100px;
        padding-left: 30px;
        
    }
    .closeButtonDiv {
        right: 20px!important;
    }
    .text {
        font-size: 20px !important;
    }
}



.closeButtonDiv {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 50px;
}
.ulDiv {
    width: 100%;
    height: 70%;
    padding-top: 100px
}
.sidebar {
    /* Menu */

    position: fixed;
    width: 50%;
    min-width:200px!important;
    height: 100%;
    right: 0px;
    top: 0px;
    background: linear-gradient(180deg, #E100E6 1.6%, #16CFFF 100%);
    z-index: 10
}
.toggleBtn {
    position: absolute;
    width: 32px;
    height: 13px;
    right: 40px;
    top: 68px;
    z-index: 10;
    cursor: pointer;
    font-size: 16px !important
}
.toggle-btn {
    position: absolute;
    width: 31.85px;
    height: 31.85px;
    left: 284px;
    top: 80px;
    background: #FFFFFF;
}
.toggle-btn {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sidebar-head {
    position:absolute;
    left:0px!important;
    top:0px!important
/*    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 61.8304px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    cursor: pointer;
    width: 80%;
    height: 100px;
    display: inline-block;*/
}
.sidebar-close {
    width: 20px;
    height: 20px;
    cursor:pointer;
    position:absolute;
    top:0px;
    right:0px;
    margin-top:10px;
    display:inline-block!important;
    background-color:green;
}
.sidebar-close .line1{
    width: 32px;
    height: 0px;
    border: 3px solid #FFFFFF;
    transform: rotate(-60deg);
    position:absolute;
    top:0px;
}
    .sidebar-close .line2 {
        width: 32px;
        height: 0px;
        border: 3px solid #FFFFFF;
        transform: rotate(60deg);
        position: absolute;
        top: 0px;
    }
.text {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 144%;
    /* or 35px */
    letter-spacing: 0.06em;
    color: #FFFFFF;
    position:relative;
    left:20px
}
hr {
    background: linear-gradient(to right, white 100%, white 100%, white 100%, white 100%);
    height: 2px !important;
    width: 320px !important;
    display: inline-block !important;
    margin-left: auto !important;
    margin-right: auto !important
}
