.logo{
    cursor:pointer;
}
html {
    font-size: 14px;
}
#openMenu{
    cursor:pointer;
}
#ByeDiv {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    align-items: center;
    background: linear-gradient(151.78deg, rgba(255, 0, 0, 0.5) 17.46%, rgba(203, 0, 0, 0) 122.23%);
    border: 4.81268px solid rgba(255, 255, 255, 0.5);
}
#end {
    font-family: 'Qualy';
    font-style: normal;
    font-weight: 400;
    font-size: 43.7935px;
    line-height: 56px;
    /* identical to box height */

    color: #FFFFFF;
}
@media (max-width: 768px) {

    #desktop-content{
        display:none!important
    }
    #mobile-content {
        display: inline-block !important
    }
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    #desktop-content {
        display: inline-block !important
    }

    #mobile-content {
        display: none!important
    }
}

.blured {
    filter: blur(8px);
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.swal2-confirm swal2-styled swal2-default-outline{
    width:85px!important;
    height:85px!important;
    border-radius:50px!important;
}
.swal2-cancel swal2-styled {
    width: 85px !important;
    height: 85px !important;
    border-radius: 50px !important;
}
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow: hidden;
    height: 100% !important;
}
.hidden{
    display:none!important;
}

.alertify-notifier .ajs-message.ajs-error {
    /*    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), rgba(255, 255, 255, 0.4);
    background-blend-mode: soft-light, normal, luminosity;*/
    background: yellow!important;
    background-blend-mode: soft-light, normal, luminosity;
    color: #FFFFFF;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.01em;
    backdrop-filter: blur(45px);
    border-radius: 8px;
}
.alertify-notifier.ajs-right .ajs-message.ajs-visible {
    right: 330px!important;
}
.alertify-notifier .ajs-message.ajs-visible {
    /*background: linear-gradient(0deg, #000000, #000000), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), rgba(171, 171, 171, 0.5);*/
    background: linear-gradient(180deg, #39C4FF 1.6%, #D81EE2 100%);
    background-blend-mode: soft-light, normal, luminosity;
    backdrop-filter: blur(45px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 12px 12px 12px 12px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    width: 250px;
    padding: 6px 10px!important;
}
.hang-up{
    position:relative;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
    margin-right:8px;
}
.alertify-notifier {
    right: -70px !important;
}
/*.alertify .ajs-header {*/
/*    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), rgba(255, 255, 255, 0.4);
    background-blend-mode: soft-light, normal, luminosity;
    backdrop-filter: blur(45px);*/
/*border-radius: 12px 12px 0px 0px;
    background: rgba(0, 0, 0, 0.8);
    background-blend-mode: luminosity;
    background: rgba(171, 171, 171, 0.5);
    background: rgba(255, 255, 255, 0.3);
}
.alertify .ajs-body {
    background: rgba(0, 0, 0, 0.8);
    background-blend-mode: luminosity;
    background: rgba(171, 171, 171, 0.5);
    background: rgba(255, 255, 255, 0.3);
}
.alertify .ajs-footer {
    background: rgba(0, 0, 0, 0.8);
    background-blend-mode: luminosity;
    background: rgba(171, 171, 171, 0.5);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0px 0px 12px 12px;
}
.alertify .ajs-dialog {
    background: rgba(0, 0, 0, 0.8);
    background-blend-mode: luminosity;
    background: rgba(171, 171, 171, 0.5);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
}*/
/*#callIcon:hover {
    transform: scale(1.5);
    color: #5cb85c;
}*/
#HangUpIcon:hover {
    transform: scale(1.5);
    color: #DC3545;
}
.Society {
    /* society */
    width: 176px;
    height: 89px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 61.8304px;
    /* identical to box height, or 89px */
    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}
.content {
    font-family: 'Archivo' !important;
    font-style: normal!important;
    font-weight: 300!important;
    font-size: 18px!important;
    line-height: 128.5%!important;
    padding-right: 20px!important;
    padding-left: 0px!important;
    /* or 23px */

    color: #FFFFFF;
}

.globe {
    border: 2px solid #8bc34a;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top: 26px !important;
    right: 0px;
    background: linear-gradient(180deg, #E100E5 0%, #16CFFF 100%);
}
.countryFlag {
    border: 2px solid #8bc34a;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    width: 33.7px;
    height: 33.7px;
    display: inline-block;
    position: absolute;
    top: 25px !important;
    right: 0px;
    background-image: url('/img/syriaFlag.png');
    background-repeat:no-repeat;
    background-size:47px;
    background-position:center;
}
svg.rotate {
    animation: rotation 5s linear 0s infinite;
}
    path

{
    stroke: #8BC34A;
}


@keyframes rotation {
    from {
        transform: translateX(0);
    }

    from {
        transform: translateX(-50%);
    }
}
.Elipse3.beat {
    animation: beat .7s infinite alternate;
}
@keyframes beat {
    to {
        transform: scale(1.1);
    }
}
#liveDiv {
    position: absolute;
    left:-15px;
    width:100px;
    top:64px
}
@media(max-width:600px)
{
    .Rectangle1 {
        /* Rectangle 2 */

        width: 41px!important;
    }
    .greenDot {
        left: 1px!important;
    }
    .micRow{
        width:100%!important;
    }
    .LiveText {
        font-size: 12.00px !important;
        left: 9px !important;
        top: 3px;
    }
    .micDiv {
        left: 28px!important;
    }
    .micLine {
        left: 28px !important;
    }
    .globe {
        right: 28px!important;
    }
    .countryFlag {
        right: 28px!important;
    }
    .loading {
        left: 63px!important;
    }
}


#logImg {
    width: 45%;
    max-width:300px;
    height: 80px;
    margin: 10px auto;
    background-image: url(/img/Clickntalk2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px !important;
}
#logImg1 {
    width: 45%;
    max-width: 300px;
    height: 80px;
    margin: 10px auto;
    background-image: url(/img/Clickntalk2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px !important
}
.openBtn {
    cursor: pointer;
    width: 70%;
    height: 100% !important;
    background-image: url(/img/Clickntalk2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 10px solid transparent;
    box-sizing: border-box;
    border-left: 20px solid transparent;
    position: absolute;
    top: 20px;
}
.closeBtn {
    cursor: pointer;
    width: 30%;
    height: 100% !important;
    box-sizing: border-box;
    padding-top: 48px;
    padding-left: 0px !important;
    position: absolute;
    top: 19px;
    left: 113px;
}
.row {
    margin-left: 0px!important
}

.pt-5 {
    padding-top: 0px!important;
}

/*.EndCallIcon {
    background-image: url(/img/VectorcallEnd.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
}*/
.loading {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 30px;
    position: absolute;
    left: 60px;
    padding-top:3px;
    padding-left:0px;
    padding-right:0px;
    top: 1px;
    margin-left:0px;
}

.loading__dot {
    animation: dot ease-in-out 1s infinite;
    width: 5px;
    height: 5px;
    background-color: gray;
    margin-right: 3px;
}

    .loading__dot:nth-of-type(2) {
        animation-delay: 0.2s;
    }

    .loading__dot:nth-of-type(3) {
        animation-delay: 0.3s;
    }

@keyframes dot {
    0% {
        background-color: grey;
        transform: scale(1);
    }

    50% {
        background-color: white;
        transform: scale(1.3);
    }

    100% {
        background-color: grey;
        transform: scale(1);
    }
}
.errorModalDiv {
    width: 100vw;
    height: 100vh;
    background-color: transparent !important;
    position:fixed;
    top:0px;

}