﻿<!DOCTYPE html>
<html lang="en" style="height:100%;width:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebRTC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebRTC.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/build/css/alertify.min.css" rel="stylesheet" />
    <link href="~/css/sidebar.css" rel="stylesheet" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <style>
        body{
/*            background: linear-gradient(180deg, #E100E5 0%, #16CFFF 100%);
            background-repeat:no-repeat;*/
            margin: 0!important;
            padding: 0!important;
            width: 100%;
            height: 100%;
            min-height: 100%;
            background: linear-gradient(180deg, #39C4FF 1.6%, #F81EE2 100%);
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body style="height:100%;width:100%;" class="toggled">
@*    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">WebRTC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    <div class="toggleBtn text-white text-xxl-center">
        <span class="fa fa-bars text-white text-xxl-center"></span>
    </div>
    <div class="sidebar" style="display:none">
        <div class="row" style="height:15%">
            <div class="col-sm-12 text-center" >
                <div class="row no-gutters" style="width:200px;height:100%;margin-left:auto!important;margin-right:auto!important;box-sizing:border-box;position:relative">
                    <div class="openBtn">

                    </div>
@*                    <div class="closeBtn" style="cursor:pointer; width:30%;height:100%!important;background-image:url(/img/close.png);background-size:contain;background-repeat:no-repeat;background-position:center;border:18px solid transparent;border-top:25px solid transparent!important;box-sizing:border-box">

                    </div>*@
                    <div class="closeBtn">
                        <span class="fa fa-arrow-right text-white" style="font-size:x-large!important;position:absolute;top:43%"></span>
                    </div>
                </div>
            </div>
        </div>
@*        <div class="" style="width:100%;height:15%;">
            <div style="width:200px;height:120px;margin-left:auto;margin-right:auto;position:relative;" class="p-2">
                <img src="~/img/logowhite.png" class="sidebar-head" />
                <div class="closeButtonDiv">
                    <span class="sidebar-close d-inline-block"><span class="line1"></span><span class="line2"></span></span>
                </div>
            </div>
        </div>*@
        <div class="text-center ulDiv">
            <div style="width:100%;height:300px;display:inline-block;padding-top:70px;">
                <ul style="display: inline-block;text-align: left;">
@*                    <li class="text" style="margin-left:-55px;"><a href="/Society" style="color:#FFFFFF!important;text-decoration:none!important;position:relative;left:0px">Our Society</a></li>*@
                    <li class="text" style="margin-left:-55px;"><a href="/Pledge" style="color:#FFFFFF!important;text-decoration:none!important;position:relative;left:0px">Our Pledge</a></li>
                    <li class="text" style="margin-left:-55px;"><a href="/Contact" style="color:#FFFFFF!important;text-decoration:none!important;position:relative;left:0px">Our Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center" style="width:100%;height:15%;position:relative;">
            <img src="~/img/Line 2.png" style="height:5px!important;" />
            <div class="row">
                <div class="col-12">
                    <a class="d-inline-block" style="cursor:pointer">
                        <img src="~/img/facebook.png" class="d-inline-block" />
                    </a>&nbsp;&nbsp;
                    <a class="d-inline-block" style="cursor:pointer">
                        <img src="~/img/instagram.png" class="d-inline-block" />
                    </a>
                </div>
            </div>
        </div>
@*        <div class="row text-center pt-5" style="height:20%;width:100%">
            <h1 class=""><p class="sidebar-head d-inline-block">Society</p> <span class="sidebar-close d-inline-block"><span class="line1"></span><span class="line2"></span></span></h1>
        </div>*@
@*        <div class="row" style="height:20%;width:100%;">
            <div class="col-sm-12">
                <div style="width:176px;height:89px;display:block;margin-left:auto;margin-right:auto;background-image:url(/img/logowhite.png)"></div>
            </div>
        </div>*@
@*        <div class="row text-center" style="height:60%;width:100%;padding-top:100px;text-align: center;">
            <div class="col-sm-4"></div>
            <div class="col-sm-8 text-start">
                <ul class="myUL" style="display: inline-block;text-align: left;">
                    <li class="text"><a href="/Society" style="color:#FFFFFF!important;text-decoration:none!important;position:relative;left:30px">Our Society</a></li>
                    <li class="text"><a href="/Pledge" style="color:#FFFFFF!important;text-decoration:none!important;position:relative;left:30px">Our Pledge</a></li>
                    <li class="text"><a href="/Contact" style="color:#FFFFFF!important;text-decoration:none!important;position:relative;left:30px">Our Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="row text-center" style="height:20%;width:100%;position:relative">
            <img src="~/img/Line 2.png" style="height:5px!important" />
            <div class="row">
                <div class="col-12"><a class="d-inline-block"><img src="~/img/facebook.png" class="d-inline-block" /></a>&nbsp;&nbsp;<a class="d-inline-block"><img src="~/img/instagram.png" class="d-inline-block" /></a></div>
            </div>
        </div>*@
    </div>
    <div class="container" style="height:100%;width:100%">
        <main role="main" id="main" class="pb-3" style="height:100%;width:100%;;">
            @RenderBody()
        </main>
    </div>

@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebRTC - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/alertifyjs/build/alertify.min.js"></script>
    <script src="~/js/utilsRTC.js"></script>
    <script src="~/js/constWebRTC.js"></script>
    <script src="~/lib/adapterjs/adapter.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
        $(".toggleBtn").click(function () {
            $(".sidebar").animate({
                width: "toggle"
            });
            $("#main").addClass('blured');
        });
        $("#openMenu").click(function () {
            $(".sidebar").animate({
                width: "toggle"
            });
            $("#main").addClass('blured');
        });
        $(".openBtn").click(function () {
            window.location.href="/";
        });
        //$(".sidebar-close").click(function () {
        //    $(".sidebar").animate({
        //        width: "toggle"
        //    });
        //    $("#main").removeClass('blured');
        //});
        $(".closeBtn").click(function () {
            $(".sidebar").animate({
                width: "toggle"
            });
            $("#main").removeClass('blured');
        });

        $(".sidebar-head").click(function(){
            window.location.href="/";
        })

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>