﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    #error-modal {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 320px;
        height: 207px;
        left: calc(50% - 320px/2);
        display: none;
        bottom: 0px;
    }

    .Grouped {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0px;
        gap: 8px;
        width: 320px;
        height: 40px;
        background: linear-gradient(0deg, #000000, #000000), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), rgba(171, 171, 171, 0.5);
        background-blend-mode: soft-light, normal, luminosity;
        backdrop-filter: blur(45px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 12px 12px 0px 0px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .header {
        width: 320px;
        height: 20px;
        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    .eclipse13 {
        position: absolute;
        width: 19px;
        height: 19px;
        left: 12px;
        top: 10px;
        background:transparent;
    }

    .error-label-app-name {
        /* label-app-name */

        position: absolute;
        width: 100%;
        height: 14px;
        left: 32px;
        top: 13px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        /* identical to box height */
        letter-spacing: -0.01em;
    }

    .footer {
        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        gap: 16px;
        width: 320px;
        height: 167px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), rgba(171, 171, 171, 0.5);
        background-blend-mode: soft-light, normal, luminosity;
        backdrop-filter: blur(45px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 0px 0px 12px 12px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .label-content {
        width: 288px;
        height: 75px;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        /* or 125% */
        letter-spacing: -0.01em;
        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        color: #FFFFFF
    }

    .buttons {
        width: 288px;
        height: 44px;
        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    .keep {
        position: absolute;
        height: 44px;
        left: 13px;
        right: 152px;
        bottom: 20px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), rgba(255, 255, 255, 0.4);
        background-blend-mode: soft-light, normal, luminosity;
        backdrop-filter: blur(45px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 8px;
        width: 140px;
    }

    .keep-label {
        position: absolute;
        width: 46px;
        height: 17px;
        left: calc(50% - 46px/2);
        top: calc(50% - 17px/2 - 0.5px);
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #9747FF;
    }

    .Errturn-off {
        position: absolute;
        height: 44px;
        right: 13px;
        bottom: 40px;
        width: 140px;
        background-color:transparent!important
    }

    .Errturn-off-label {
        position: absolute;
        width: 42px;
        height: 17px;
        left: calc(50% - 42px/2);
        top: calc(50% - 17px/2 - 0.5px);
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 17px;
        text-align: center;
        letter-spacing: -0.01em;
        color: #9747FF;
        background-color:transparent!important
    }
</style>
<div class="errorModalDiv hidden">
</div>
<div id="error-modal">
    <div class="Grouped">
        <div class="header">
            <div class="eclipse13 rounded-circle">
            </div>
            <label class="error-label-app-name">
                OPS something goes wrong 
            </label>
        </div>
    </div>
    <div class="footer">

        <label class="label-content">
        </label>
    </div>
    <div class="buttons">
            <button class="keep" id="okBtn" style="border:none!important" onclick="closeErrorModal()">
            <span class="keep-label">
                Ok
            </span>
        </button>
@*        <div class="Errturn-off" id="rejectBtn" style="border:none!important">
            <span class="Errturn-off-label">
                <img src="~/img/badsmile.png" style="width:40px;height:40px;position:absolute;left:0px;top:10px" />
            </span>
        </div>*@

    </div>
</div>